<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Welcome!! This is a Home Page</title>
</head>
<body>
<header>
<button type="button" style="float: right" href="sign.html" class="btn-primary">Signup</button>
<h2>Welcome</h2>
</header>
<div class="box">
<h2> Please sign up before use!</h2>
<form class="form-horizontal" action="/login" method="POST">
<tr>
    <br><label for="inputName" class="sr-only">Name</label></br>
   <br><input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus></br>
    <br><label for="inputPassword" class="sr-only">Password</label></br>
   <br><input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required></br>  
    <br><button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign in</button></br>
	</tr>
      </form>
</div>
</body>
</html>