<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Welcome!! This is the signup page</title>
</head>
<body>
<header>
<h2>Welcome</h2>
</header>
<div class="box">
<h2> Please enter your detail to sign up</h2>
<form class="form-horizontal" action="/signup" method="POST">
<tr>
    <br><label for="inputName" class="sr-only">Name</label></br>
   <br><input type="text" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus></br>
    <br><label for="inputEmail" class="sr-only">Email address</label></br>
     <br><input type="text" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus></br>
    <br><label for="inputPassword" class="sr-only">Password</label></br>
   <br><input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required></br>
   <br><label for="inputAge" class="sr-only">Age</label></br>
   <br><input type="text" name="inputAge" id="inputAge" class="form-control" placeholder="Password" required></br>
         
    <br><button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button></br>
	</tr>
      </form>
</div>
</body>
</html>